<div class="flex flex-col h-full w-full gap-4 p-4 text-sm text-muted-foreground">
  <div class="flex flex-col md:flex-row h-full w-full gap-4">
    <%= render 'category_list' %>
    <%= render 'task_list' %>
    <%= render 'due_date_list' %>
  </div>

  <div class="h-12 w-full home-box" id="terminal-container" tabindex="5">
    <%= render 'terminal' %>
    <%= render 'command_form' %>
    <%= render 'category_form' %>
    <%= render 'task_form' %>
  </div>

  <!-- JavaScript libraries -->
  <script src="<%= asset_path('terminal.js') %>"></script>

</div>
