<%= turbo_frame_tag "taskList" do %>
  <div id="task-list" class="flex flex-col gap-2">
    <div class="flex flex-row px-1 mb-2 text-nowrap text-primary">
      <%= render partial: 'home/shared/list_item', locals: { attr_value: "Name" } %>
      <%= render partial: 'home/shared/list_item', locals: { attr_value: "Status" } %>
      <%= render partial: 'home/shared/list_item', locals: { attr_value: "Category" } %>
      <%= render partial: 'home/shared/list_item', locals: { attr_value: "Due Date" } %>
    </div>
    <% @tasks.each do |task| %>
      <%= link_to task_path(task), class: "flex w-full px-1 focus-visible:outline-none", data: { user_id: task.user_id, task_id: task.id, manager_target: "taskItem" } do %>
        <%= render partial: 'home/shared/list_item', locals: { attr_value: task.name } %>
        <%= render partial: 'home/shared/list_item', locals: { attr_value: task.status } %>
        <%= render partial: 'home/shared/list_item', locals: { attr_value: task.category.name } %>
        <%= render partial: 'home/shared/list_item', locals: { attr_value: task.formatted_due_date } %>
      <% end %>
    <% end %>
  </div>
<% end %>
