<ul id="task-list" class="flex flex-col gap-2">
  <li class="flex flex-row text-primary">
    <%= render partial: 'home/shared/list_item', locals: { attr_value: "Name" } %>
    <%= render partial: 'home/shared/list_item', locals: { attr_value: "Status" } %>
    <%= render partial: 'home/shared/list_item', locals: { attr_value: "Category" } %>
    <%= render partial: 'home/shared/list_item', locals: { attr_value: "Due Date" } %>
  </li>
  <% @tasks.each do |task| %>
    <li class="flex w-full px-1" data-user-id="<%= task.user_id %>" data-task-id="<%= task.id %>" >
      <%= render partial: 'home/shared/list_item', locals: { attr_value: task.name } %>
      <%= render partial: 'home/shared/list_item', locals: { attr_value: task.status } %>
      <%= render partial: 'home/shared/list_item', locals: { attr_value: task.category.name } %>
      <%= render partial: 'home/shared/list_item', locals: { attr_value: task.formatted_due_date } %>
    </li>
  <% end %>
</ul>
