  <div class="flex h-8 w-full items-center justify-start" id="terminal-helper">
    <ul class="flex flex-row gap-4 overflow-y-auto scrollbar-none">
      <%= render partial: 'home/terminal/shared/helper_item', locals: { attr_key: "^C", attr_cmd: "Open terminal" } %>
      <%= render partial: 'home/terminal/shared/helper_item', locals: { attr_key: ":C", attr_cmd: "New category" } %>
      <%= render partial: 'home/terminal/shared/helper_item', locals: { attr_key: ":T", attr_cmd: "New task" } %>
      <%= render partial: 'home/terminal/shared/helper_item', locals: { attr_key: ":E", attr_cmd: "Edit" } %>
      <%= render partial: 'home/terminal/shared/helper_item', locals: { attr_key: ":D", attr_cmd: "Delete" } %>
      <%= render partial: 'home/terminal/shared/helper_item', locals: { attr_key: ":X", attr_cmd: "Logout" } %>
    </ul>
  </div>
