<!DOCTYPE html>
<html>
  <head>
    <title>Ledger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= content_for :stylesheets %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark bg-background text-foreground">
    <main class="relative flex flex-col h-screen w-screen max-h-screen max-w-screen">
      <%= yield %>
    </main>

    <% if flash[:notice].present? %>
      <%= render_toast header: "Success", description: flash[:notice], variant: :success %>
    <% elsif flash[:alert].present? %>
      <%= render_toast header: "Error", description: flash[:alert], variant: :error %>
    <% end %>
  </body>
</html>
