<!DOCTYPE html>
<html>
  <head>
    <title>Ledger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
    <%= javascript_include_tag 'index' %>
    <%= javascript_include_tag 'handleFocus' %>
    <%= javascript_include_tag 'handleNavigate' %>
    <%= javascript_include_tag 'handleEdit' %>
  </head>

  <body class="dark bg-background text-foreground">
    <main class="relative flex flex-col h-screen w-screen max-h-screen max-w-screen">
      <%= yield %>
    </main>
  </body>
</html>
